@{
    ViewBag.Title = "Dashboard";
}
<script>

            var studentsPerYear =
                {
                    labels: [@Html.Raw(ViewBag.courseYearNames)],
                    datasets: [{
                        label: 'Cantidad de estudiantes',
                        backgroundColor: [
                            "#F20544",
                            "#F22283",
                            "#F21DCF",
                            "#4A1FA6",
                            "#04BF9D",
                            "#aad2ed",
                            "#9966FF",
                            "#99e5e5",
                            "#f7bd83",
                        ],
                        borderWidth: 2,
                        data: [@Html.Raw(ViewBag.studentByCourseYear)]
                    }]
                };
            var inscriptionsPerCourse =
                {
                    labels: [@Html.Raw(ViewBag.courseName)],
                    datasets: [{
                        label: 'Cantidad de inscripciones',
                        backgroundColor: [
                            "#F20544",
                            "#F22283",
                            "#F21DCF",
                            "#4A1FA6",
                            "#04BF9D",
                            "#aad2ed",
                            "#9966FF",
                            "#99e5e5",
                            "#f7bd83",
                        ],
                        borderWidth: 2,
                        data: [@Html.Raw(ViewBag.inscriptionsByCourse)]
                    }]
                };

            window.onload = function () {
                var ctx1 = document.getElementById("studentsPerYear").getContext("2d");
                window.myBar = new Chart(ctx1,
                    {
                        type: 'bar',
                        data: studentsPerYear,
                        options:
                            {
                                title:
                                {
                                    display: true,
                                    text: "Estudiantes inscritos por año"
                                },
                                responsive: true,
                                maintainAspectRatio: true
                            }
                    });

                var ctx2 = document.getElementById("inscriptionsPerCourse").getContext("2d");
                window.myBar = new Chart(ctx2,
                    {
                        type: 'polarArea',
                        data: inscriptionsPerCourse,
                        options:
                        {
                            title:
                            {
                                display: true,
                                text: "Inscripciones por curso"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                    });
            }
</script>
<h1>Dashboard de administración de escuela</h1>
<hr />

<div class="row">
    <div class="col-md-6">

        <canvas id="studentsPerYear"></canvas>
    </div>
    <div class="col-md-6">

        <canvas id="inscriptionsPerCourse"></canvas>
    </div>
</div>